<div class="wc" ng-mouseover="wcCtrl.hovering = true"
  ng-mouseleave="wcCtrl.hovering = false">
  <div class="wc-image-container">
    <a ng-if="wcCtrl.wcClickable"
      href='#!/app/{{wcCtrl.worldService.world}}/list/detail/{{wcCtrl.wc.id}}'
      ng-click="wcCtrl.selectWC(wcCtrl.wc)"> <img
      ng-src="{{wcCtrl.wc.imageLink}}" class="wc-image" />
    </a> <a ng-if="!wcCtrl.wcClickable"> <img
      ng-src="{{wcCtrl.wc.imageLink}}" class="wc-image" />
    </a>
  </div>
  <a ng-if="wcCtrl.wcClickable" href="#!/app/{{wcCtrl.worldService.world}}/list/detail/{{wcCtrl.wc.id}}">
    <div class="wc-text"
      ng-if="wcCtrl.wcClickable"
      ng-click="wcCtrl.selectWC(wcCtrl.wc)"
      ng-class="{'hovering':wcCtrl.hovering,'wc-text-selected':wcCtrl.wc.selected}">
        <h3 class="wc-title" ng-class="{'hovering':wcCtrl.hovering}">
          {{wcCtrl.wc.name}}</h3>
        <p class="wc-description" ng-class="{'hovering':wcCtrl.hovering}">
          {{wcCtrl.wc.description}}</p>
    </div>
  </a>
  
  <div class="wc-text"
    ng-if="!wcCtrl.wcClickable"
    ng-class="{'hovering':wcCtrl.hovering,'wc-text-selected':wcCtrl.wc.selected}">
      <h3 class="wc-title" ng-class="{'hovering':wcCtrl.hovering}">
        {{wcCtrl.wc.name}}</h3>
      <p class="wc-description" ng-class="{'hovering':wcCtrl.hovering}">
        {{wcCtrl.wc.description}}</p>
  </div>
  
  <a href="{{(wcCtrl.wcClickable)? wcCtrl.wc.githubLink : ''}}"
    target="_blank">
    <div class="fa fa-github fa-2x icon-github">
      <div class="github-tooltip" title="GitHub repo"></div>
    </div>
  </a> <a
    href="{{(wcCtrl.wcClickable)? wcCtrl.wc.githubLink + '/archive/master.zip' : ''}}"
    target="_blank">
    <div class="fa fa-download fa-2x icon-download">
      <div class="github-tooltip" title="Download from Github Master">
      </div>
    </div>
  </a>
</div>