<div detail-ctrl id="detail-body" >
  <div id="detail-wc">
      <div id="detail-image" class="col-sm-4">
          <img ng-src="{{detailCtrl.selectedWC.imageLink}}"/>
      </div>
      <div class="col-md-8">
          <h1>{{detailCtrl.selectedWC.name}}</h1>
          <p>{{detailCtrl.selectedWC.description}}</p>

          <a class="btn btn-default" href="{{detailCtrl.selectedWC.githubLink + '/archive/master.zip'}}">
              <i class="fa fa-download"></i> Download
          </a>

          <a class="btn btn-default" href="{{detailCtrl.selectedWC.githubLink}}" target="_blank">
              <i class="fa fa-github"></i>  Github repository
          </a>

          <p style="margin: 20px 0"><a href="{{detailCtrl.selectedWC.demoLink}}">Link to demo</a></a></p>
      </div>
  </div>
  <div ng-if="detailCtrl.selectedWC.demoType == 'jsfiddle'">
      <iframe width="100%" height="350" ng-src="{{detailCtrl.selectedWC.demoLinkUrl}}" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  </div>
  <div ng-if="detailCtrl.selectedWC.demoType == 'codepen'">
      <p data-height="268" data-theme-id="0" data-slug-hash="{{detailCtrl.selectedWC.codePen.slugHash}}" data-user="{{detailCtrl.selectedWC.codePen.user}}" data-default-tab="result" class='codepen'></p>
      <script async src="//codepen.io/assets/embed/ei.js"></script>
  </div>
</div>